---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == blank %}{{ site.title }}{% else %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}  {{ site.last_name }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>
    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
    
    {% if page.news %}
      {% include news.html %}
    {% endif %}

    
    <h2> Short CV</h2>
    <table id="tablepress-1" class="tablepress tablepress-id-1" cellpadding=10px>
      <tbody class="row-hover">
	<tr class="row-1 odd">
	  <td class="column-1">since 8/2018</td><td class="column-2">Postdoctoral Research Fellow, <a href="https://www.simonsfoundation.org/flatiron/" target="_blank" rel="noopener noreferrer">Flatiron Institute</a>, New York</td>
	</tr>
	<tr class="row-4 even">
	  <td class="column-1">1/2014-12/2017</td><td class="column-2">Ph.D. student<br />
	    <a href="https://www.uibk.ac.at/th-physik/laeuchli-lab/" target="_blank" rel="noopener noreferrer">University of Innsbruck</a>, with Prof. Andreas M. Läuchli</td>
	</tr>
	<tr class="row-3 odd">
	  <td class="column-1">5/2016-5/2018</td><td class="column-2">Festival Coordinator Innsbruck<br />
	    <a href="https://www.wissensdurst-festival.at/" target="_blank" rel="noopener noreferrer">Wissensdurst Festival</a></td>
	</tr>
	<tr class="row-3 odd">
	  <td class="column-1">9/2016-3/2017</td><td class="column-2">Visiting Researcher<br />
	    <a href="https://exa.phys.s.u-tokyo.ac.jp/en" target="_blank" rel="noopener noreferrer">University of Tokyo</a>, with Prof. Synge Todo</td>
	</tr>
	<tr class="row-5 odd">
	  <td class="column-1">2009-2014</td><td class="column-2">Studies of mathematics and geophysics<br />
	    Ludwigs Maximilians University of Munich<br />
	    Technical University of Munich<br />
	    University of Innsbruck</td>
	</tr>
      </tbody>
    </table>

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    

  </article>

</div>
